# {{ title }}
## [URL]({{ URL }}) - {{ URL }}
## Catagories 
{%- for cat in category %}
### {{ cat }}
{%- endfor %}
### {{ content | replace("\\n\\n\\n","\n") | replace('== ','## ') | replace('==','') | replace("\\n"," \n### ") | replace("=##","##") | replace("=","") | replace("###  ","") }}
## References
{%- for reference in refs %}
### [Reference]({{ reference }}) - {{ reference }}
{%- endfor %}
## Images
{%- for image in images %}
### [Image]({{ image }}) - {{ image }}
{%- endfor %}